apiVersion: v2
appVersion: '1.10.0'
description: Randoli App Insights Agent
home: https://randoli.ca
icon: https://s3.ca-central-1.amazonaws.com/randoli.ca/icons/icon-384x384.png
keywords:
- app-insights
- app-insights-agent
- randoli
maintainers:
- name: Randoli
  url: https://randoli.ca
  email: support@randoli.ca
name: app-insights-agent
sources:
- https://github.com/randoli/helm-charts
version: 1.10.0
dependencies:
  - name: opencost
    repository: https://randoli.github.io/helm-charts
    version: 1.41.0
    alias: costManagement
    condition: costManagement.opencost.install
  - name: vertical-pod-autoscaler
    repository: https://randoli.github.io/helm-charts
    version: 1.0.0
    condition: costManagement.rightsizingRecommendations.installVpa
  - name: kubescape-operator
    alias: securityScans
    repository: https://randoli.github.io/helm-charts
    version: 1.18.16
    condition: securityScans.installKubescape
  - name: pixie-operator-chart
    alias: telemetry
    repository: https://randoli.github.io/helm-charts
    version: 0.1.6
    condition: telemetry.pixie.install
  - name: vector-operator
    repository: https://randoli.github.io/helm-charts
    version: 0.0.40
    condition: logs.vector.install