apiVersion: apps/v1
kind: Deployment
metadata:
  name: randoli-tproxy
  namespace: {{ include "randoli-agent.namespace" . }}
  labels:
    app.kubernetes.io/name: randoli-tproxy
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: randoli-tproxy
  annotations:
    resource.opentelemetry.io/service.name: randoli-tproxy  
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: randoli-tproxy
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: randoli-tproxy
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/name: randoli-tproxy
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/component: randoli-tproxy
    spec:
      containers:
        - name: randoli-tproxy
          image: docker.io/randoli/telemetry-proxy:0.1.0
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
              protocol: TCP
          envFrom:
            - configMapRef:
                name: randoli-tproxy
          resources:
            limits:
              cpu: 200m
              memory: "512Mi"
            requests:
              cpu: 30m
              memory: "128Mi"
      {{- if or .Values.imagePullSecrets .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- with .Values.imagePullSecrets }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.imagePullSecrets }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}
      {{- if or .Values.tolerations .Values.global.tolerations }}
      tolerations:
        {{- with .Values.tolerations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.tolerations }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}
      {{- if or .Values.nodeSelector .Values.global.nodeSelector }}
      nodeSelector:
        {{- with .Values.nodeSelector }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.nodeSelector }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}
      {{- if or .Values.affinity .Values.global.affinity }}
      affinity:
        {{- with .Values.affinity }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.affinity }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }} 
