{{/* Attribute annotations use keys "__attribute_NNN_Name" so sorted rendering preserves order. */}}
{{ define "randoli.slack.title" -}}
[{{ .CommonLabels.severity | toUpper }}] {{ .CommonLabels.alertName }}{{ with .CommonLabels.target }} on {{ . }}{{ end }}{{ with .CommonLabels.cluster }} ({{ . }}){{ end }}
{{- end }}

{{ define "randoli.slack.text" -}}
{{- with .CommonLabels.cluster }}
*Cluster:* {{ . }}
{{- end }}
{{- range $key, $value := .CommonAnnotations }}
{{- if match "^__attribute_[0-9]+_" $key }}
*{{ reReplaceAll "^__attribute_[0-9]+_" "" $key }}:* {{ $value }}
{{- end }}
{{- end }}
{{- with .CommonAnnotations.description }}
*Description:* {{ . }}
{{- end }}
{{- end }}

{{ define "randoli.slack.footer" }}
{{ with .CommonAnnotations.occurredAt }}Occurred At {{ . }}{{ end }}
{{ end }}