{{- if .Values.config.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: delete-randoli-alerts-cm
  annotations:
    helm.sh/hook: pre-delete
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
spec:
  backoffLimit: 1
  template:
    spec:
      serviceAccountName: randoli-alerts-cm-applier
      containers:
      - name: delete-cms
        image: docker.io/bitnamilegacy/kubectl:1.33.1
        command:
        - /bin/bash
        - -c
        - |
          echo "â³ Deleting Randoli Alerts CMs..."
          set -e

          NAMESPACE="{{ .Release.Namespace }}"
          CONFIGMAP_NAME="{{ include "alertmanager.fullname" . }}"

          # Check and delete ConfigMap if it exists
          if kubectl get configmap "$CONFIGMAP_NAME" -n "$NAMESPACE" > /dev/null 2>&1; then
            echo "Deleting ConfigMap $CONFIGMAP_NAME..."
            kubectl delete configmap "$CONFIGMAP_NAME" -n "$NAMESPACE" --wait=true
          else
            echo "ConfigMap $CONFIGMAP_NAME not found, skipping."
          fi
      restartPolicy: Never
      {{- if or .Values.tolerations .Values.global.tolerations }}
      tolerations:
        {{- with .Values.tolerations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.tolerations }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}
      {{- if or .Values.nodeSelector .Values.global.nodeSelector }}
      nodeSelector:
        {{- with .Values.nodeSelector }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.nodeSelector }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}
      {{- if or .Values.affinity .Values.global.affinity }}
      affinity:
        {{- with .Values.affinity }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.affinity }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}
{{- end }}  
