{{- $components := fromYaml (include "components" .) }}
{{- if $components.operator.enabled }}
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Values.operator.name }}
  namespace: {{ include "randoli-agent.namespace" . }}
  labels:
    kubescape.io/ignore: "true"
rules:
  - apiGroups: [""]
    resources: ["configmaps", "secrets"]
    verbs: ["create", "get", "update", "watch", "list", "patch", "delete"]
  - apiGroups: ["batch"]
    resources: ["cronjobs"]
    verbs: ["create", "get", "update", "watch", "list", "patch", "delete"]
{{- end }}
