apiVersion: batch/v1
kind: Job
metadata:
  name: delete-agent-manifests
  annotations:
    helm.sh/hook: post-delete
    helm.sh/hook-delete-policy: hook-succeeded
spec:
  backoffLimit: 1
  template:
    spec:
      serviceAccountName: agent-manifests-applier
      containers:
      - name: delete-agent-manifests
        image: docker.io/bitnamilegacy/kubectl:1.33.1
        command:
        - /bin/bash
        - -c
        - |
          echo "â³ Deleting Randoli Manifests..."
          set -e

          NAMESPACE="{{ .Release.Namespace }}"
          SECRET_NAME="{{ include "randoli-agent.fullname" . }}-db"

          # Check and delete secret if it exists
          if kubectl get secret "$SECRET_NAME" -n "$NAMESPACE" > /dev/null 2>&1; then
            echo "Deleting Secret $SECRET_NAME..."
            kubectl delete secret "$SECRET_NAME" -n "$NAMESPACE"
          else
            echo "Secret $SECRET_NAME not found, skipping."
          fi
      restartPolicy: Never
      {{- if or .Values.tolerations .Values.global.tolerations }}
      tolerations:
        {{- with .Values.tolerations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.tolerations }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}
      {{- if or .Values.nodeSelector .Values.global.nodeSelector }}
      nodeSelector:
        {{- with .Values.nodeSelector }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.nodeSelector }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}
      {{- if or .Values.affinity .Values.global.affinity }}
      affinity:
        {{- with .Values.affinity }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.affinity }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}   
---
