apiVersion: batch/v1
kind: Job
metadata:
  name: apply-agent-manifests
  annotations:
    helm.sh/hook: pre-install
    helm.sh/hook-delete-policy: hook-succeeded
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 3 
  template:
    spec:
      serviceAccountName: agent-manifests-applier
      containers:
      - name: apply-manifests
        image: docker.io/bitnamilegacy/kubectl:1.33.1
        command:
        - /bin/bash
        - -c
        - |
          echo "â³ Applying Agent Mafinests..."
          set -e

          NAMESPACE="{{ .Release.Namespace }}"
          SECRET_NAME="{{ include "randoli-agent.fullname" . }}-db"

          # Create Secret only if it doesn't exists
          if kubectl get secret "$SECRET_NAME" -n "$NAMESPACE" > /dev/null 2>&1; then
            echo "Secret $SECRET_NAME already exists, skipping"
          else
            echo "Creating secret $SECRET_NAME..."
            kubectl create secret generic $SECRET_NAME -n "$NAMESPACE" --from-literal=username=admin --from-literal=password=$(openssl rand -base64 16)
          fi
      restartPolicy: Never
      {{- if or .Values.tolerations .Values.global.tolerations }}
      tolerations:
        {{- with .Values.tolerations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.tolerations }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}
      {{- if or .Values.nodeSelector .Values.global.nodeSelector }}
      nodeSelector:
        {{- with .Values.nodeSelector }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.nodeSelector }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}
      {{- if or .Values.affinity .Values.global.affinity }}
      affinity:
        {{- with .Values.affinity }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.affinity }}
        {{- toYaml . | nindent 8 }}
        {{- end }} 
      {{- end }}